<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP HERE</h1>
    <form method="POST" action="">
        <input name="username" type="text" placeholder="username" id=""><br><br>
        <input name="mobile" type="text" placeholder="mobile" id=""><br><br>
        <input name="email" type="text" placeholder="email" id=""><br><br>
        <input name="address" type="text" placeholder="address" id=""><br><br>
        <input name="password" type="text" placeholder="password" id=""><br><br>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>